.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card img:hover {
    cursor: pointer;
    box-shadow: 0 0 1em rgb(128, 128, 128);
}

.Card img {
    height: 15rem;
}

h3 {
}